DATA_DIR=/path/to/data_directory
GHC_RUNNER_IN_WEBAPP=False
GHC_NOTIFICATIONS=True
GHC_NOTIFICATIONS_VERBOSITY=True
GHC_NOTIFICATIONS_EMAIL=***changeme; comma-separated list of e-mails to notify***

GHC_LOG_LEVEL=20
GHC_MINIMAL_RUN_FREQUENCY_MINS=1
SECRET_KEY=***changeme***
ADMIN_NAME=admin
ADMIN_PWD=***changeme***
ADMIN_EMAIL=***changeme***
GHC_ADMIN_EMAIL=***changeme***
GHC_SMTP_SERVER=***changeme***
GHC_SMTP_PORT=***changeme***
GHC_SMTP_TLS=***changeme: boolean***
GHC_SMTP_SSL=**changeme: boolean***
GHC_SMTP_USERNAME=***changeme***
GHC_SMTP_PASSWORD=***changeme***

GHC_RETENTION_DAYS=365

GHC_WWW_LINK_EXCEPTION_CHECK=True

GHC_SITE_TITLE=OGC services status
GHC_SITE_URL=https://status.changeme.com

GHC_SELF_REGISTER=True
# Hide the checks from public
GHC_REQUIRE_WEBAPP_AUTH=True
GHC_BASIC_AUTH_DISABLED=True

# GHC_USER_PLUGINS=GeoHealthCheck.plugins.user.mywmsprobe,GeoHealthCheck.plugins.user.mywmsprobe2

# Optionally set container Timezone
CONTAINER_TIMEZONE=Europe/Zurich

# Optionally: set language
LC_ALL=fr_CH.UTF-8
LANG=fr_CH.UTF-8
LANGUAGE=fr_CH.UTF-8
